In [10]:
from shapely import geometry
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('data/Data.txt',sep=';')
df=pd.DataFrame(df)
print(df.shape)
df.head()

(14643, 13)

,from_id,to_id,fromid_toid,route_number,at,from_x,from_y,to_x,to_y,total_route_time,route_time,route_distance,route_total_lines
0,5861326,5785640,5861326_5785640,1,08:10,24.970438,60.311917,24.856034,60.399941,125.0,99.0,22917.6,2.0
1,5861326,5785641,5861326_5785641,1,08:10,24.970438,60.311917,24.860568,60.400014,123.0,102.0,23123.5,2.0
2,5861326,5785642,5861326_5785642,1,08:10,24.970438,60.311917,24.865102,60.400086,125.0,103.0,23241.3,2.0
3,5861326,5785643,5861326_5785643,1,08:10,24.970438,60.311917,24.869636,60.400159,129.0,107.0,23534.2,2.0
4,5861326,5787544,5861326_5787544,1,08:10,24.970438,60.311917,24.842582,60.397478,118.0,92.0,22428.2,2.0

In [26]:
def derivedData(df,x,y):
    data=df.iloc[:,x:y]
    assert list(data.columns) == ["from_x", "from_y", "to_x", "to_y"], "Error: `data` does not (or not only) contain the four columns it should"
    data.head()
    return data

In [29]:
data=derivedData(df,5,9)
data.head()

      from_x     from_y       to_x       to_y
0  24.970438  60.311917  24.856034  60.399941
1  24.970438  60.311917  24.860568  60.400014
2  24.970438  60.311917  24.865102  60.400086
3  24.970438  60.311917  24.869636  60.400159
4  24.970438  60.311917  24.842582  60.397478

In [51]:
def DerivedOrgADes(data):
    '''
    Return the lists of Original And Destination Points
    '''
    origin_points=[]
    destination_points=[]
    for i,rows in data.iterrows():#i-> index - rows-> content
        orgPoint=geometry.Point(rows['from_x'],rows['from_y'])
        desPoint=geometry.Point(rows['to_x'],rows['to_y'])
        origin_points.append(orgPoint)
        destination_points.append(desPoint)
    return origin_points,destination_points    
def DerivedOrgADes1(data):
    '''
    Return the DataFrame of Original And Destination Points
    '''
    origin_points=data.apply(lambda row: geometry.Point(row["from_x"],row["from_y"]), axis=1 ) # axis=1 - along x-coordinate
    destination_points=data.apply(lambda row:geometry.Point(row['to_x'],row['to_y']), axis=1 )
    return origin_points,destination_points

In [53]:
origin_points,destination_points=DerivedOrgADes(data)

In [65]:
def MakeListOfLinesAtotalLength(origin_points,destination_points):
    '''
    Return the Lists of Lines And Total Lengths
    '''
    lines=[]
    total_length=0
    '''
    for i in range(len(origin_points)):
        line=geometry.LineString([origin_points[i],destination_points[i]])
        total_length+=line.length
        lines.append(line)
    '''
    for io,id in zip(origin_points,destination_points):
        line=geometry.LineString([io,id])
        total_length+=line.length
        lines.append(line)
    return lines,total_length

In [66]:
lines,total_length=MakeListOfLinesAtotalLength(origin_points,destination_points)